:root {
  --grisclaro: #333;
  --blanco: #fff;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #949393;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav ul li {
  margin: 5px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

section {
  padding: 45px;
  width: 100%;
  box-sizing: border-box;
}

#about, #projects, #contact, #Educacion {
  background-color: #fff;
}

#about {
  text-align: center;
}

#about p {
  max-width: 700px;
  margin: 0 auto;
  text-align: justify;
}

.imagen-circular {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-inner img {
  min-width: 100%;
  display: none;
  object-fit: contain;
  height: 550px;
}

.carousel-inner img.active {
  display: block;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.feature-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box-black {
  background-color: rgba(0, 0, 0, 0.541);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-bottom: 1.5rem;
  color: var(--blanco);
  border-radius: 5px;
  font-size: 1.5em;
  margin: 1rem;
}

.nivel-manejo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

#caja {
  width: 100%;
  max-width: 270px;
  height: auto;
}

.nivel-manejo span {
  font-weight: bold;
}

.descripcion-nivel {
  margin-left: 10px;
  padding-bottom: 5px;
  border-bottom: 4px solid #160ab4;
}

#caja h2 {
  font-size: 20px;
}

#caja p {
  font-size: 16px;
}

#projects {
  text-align: center;
}

#cajita {
  width: 100%;
  max-width: 250px;
  height: auto;
}

#cajita h3 {
  font-size: 17px;
}

#cajita p {
  font-size: 15px;
}

#Educacion h1 {
  color: black;
}

#contenedorslide {
  color: black;
}

.project {
  background-color: rgba(11, 11, 14, 0.651);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-bottom: 1.5rem;
  color: var(--blanco);
  border-radius: 5px;
  font-size: 1.5em;
  margin: 1rem;
}

.project:hover {
  background-color: #333;
}

#projects a {
  color: white;
  text-decoration: none;
}

#projects a:hover {
  color: white;
}

#contact {
  text-align: center;
}

#redes a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

#redes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about-text {
  flex: 1;
  text-align: left;
  padding-right: 20px;
}

.skill-levels {
  flex: 1;
  padding-left: 20px;
  border-left: 1px solid #ccc;
}

#about p {
  text-align: left;
  margin: 0;
}

.contenedor_educacion {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 100px;
}

.contenedor_educacion > div {
  flex: 1;
  min-width: 300px;
}

#Educacion {
  background-color: #333;
}

#Educacion h1 {
  color: white;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

footer p {
  margin: 0;
}


@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    align-items: center;
  }

  .skill-levels {
    padding-left: 0;
    border-left: none;
    margin-top: 20px;
  }

  .contenedor_educacion {
    flex-direction: column;
    gap: 50px;
  }

  .contenedor_educacion > div {
    width: 100%;
  }

  .carousel-inner img {
    height: auto;
  }

  

}